<div
  style="max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <h1 style="color: #333; text-align: center;">Apollo Hospital</h1>
  <div style="color: #333; text-align: center;">
    <p>Staff Quater, Demra,Dhaka-1236</p>
  </div>
  <h2 style="color: #333; text-align: center;">Bill</h2>

  <div style="margin-bottom: 20px;">

    <div>
      <p><strong>Patient Name:</strong> {{customer.Name}}</p>
      <p><strong>Patient ID:</strong> {{patientId}}</p>
      <p><strong>Prescription ID:</strong> {{prescriptionId}}</p>
    </div>


    <div>
      <p><strong>Doctor Payment:</strong> <b>{{totalPayment}}</b></p>

      
      
      <ul style="list-style: none; padding: 0;">
        <li><strong>Name on Card:</strong> {{nameOnCard}}</li>
        <li><strong>Card Number:</strong> {{cvv}}</li>
        <li><strong>Payment Date:</strong> {{PaidDate}}</li>
      </ul>
    </div>
    <strong>Payment Status:</strong><b>{{"Paid"}}</b><br>

  </div>

  <p style="font-size: 16px; line-height: 1.5; color: #07011a;"><b>Thank you for your payment!</b></p>
</div>