<!-- <div
     class="bg-image d-flex justify-content-center align-items-center"
     style="
            background-image: url('https://mdbootstrap.com/img/new/fluid/nature/015.jpg');
            height: 100vh;">
  <h1 class="text-white">Page title</h1>

</div> -->

<!-- new -->

<div class="bag-image" 
style="background-image: url('assets/images/hospitalhomepage.jpeg');
            height: 100vh">       
            
            <!-- <div>
              Welcome to [Hospital Name]!

We are delighted to have you as our guest, and we extend a warm and heartfelt welcome to you and your loved ones. At [Hospital Name], your health and well-being are our top priorities, and we are committed to providing you with the best possible care and support during your stay.

Our dedicated team of healthcare professionals is here to ensure that you receive the highest quality medical treatment, compassionate care, and personalized attention. We understand that being in a hospital can be a challenging time, and we are here to make your experience as comfortable and stress-free as possible.

As you navigate your journey towards recovery or wellness, please remember that you are not alone. Our experienced staff is here to answer your questions, address your concerns, and offer a helping hand whenever you need it. We are dedicated to providing a safe and nurturing environment where you can focus on your healing and well-being.

We encourage you to take advantage of the services and amenities available at our hospital to make your stay as pleasant as possible. Our goal is to ensure that you and your family feel well-informed and supported throughout your time with us.

Thank you for entrusting your care to [Hospital Name]. We look forward to serving you and are committed to helping you on your path to recovery. If there is anything you need or any questions you may have, please do not hesitate to reach out to our friendly and caring staff.

Wishing you a comfortable and successful journey to health and well-being.

Warm regards,

[Your Name]
[Your Title]
[Hospital Name]
            </div> -->
</div>